.patent-con {
  width: 1280px;
  position: relative;
}

.patent-con > .text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 50%;
}

.patent-con > .text-box > .title-box,
.patent-con > .text-box > .sub-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.patent-con > .text-box .sub {
  font-size: 16px;
  font-weight: 600;
  color: #999;
}

.patent-con > .text-box > .title-box > .title {
  font-size: 38px;
  font-weight: 700;
  color: #111;
}

.patent-con > .text-box > .sub-box > .title {
  font-size: 30px;
  font-weight: 300;
}
