@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* ###############자동정렬 방지###############*/
html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video 
    /* ###############자동정렬방지###############*/ {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  overflow-x: hidden;
  word-break: keep-all;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.app {
  box-sizing: border-box;
  min-width: 1280px;
}

@media screen and (max-width: 767px) {
  .app {
    min-width: 100%;
  }
}

header {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  min-width: 1280px;
  width: 100%;
  height: 100px;
  transition: 0.1s;
  padding: 0px 60px;
}

header > .menu-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  gap: 80px;
}

.box-width1 {
  width: 90px;
}
.box-width2 {
  width: 149px;
}
.box-width3 {
  width: 143px;
}
.box-width4 {
  width: 70px;
}
.box-width5 {
  width: 49px;
}

nav {
  display: none;
  position: absolute;
  top: 101%;
  left: 0%;
  width: 100%;
  background-color: white;
}

nav > .width15 {
  width: 15%;
}

nav .sub-menu-con {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70%;
  gap: 80px;
}

header > a {
  width: 15%;
}

header > a > img {
  width: 246px;
}

header > .menu-con > .menu-box > .title-box > a {
  font-size: 18px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}

header > .menu-con > .menu-box > .title-box > img {
  display: none;
}

header > .right-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  width: 15%;
}

header > .right-box > img {
  width: 20px;
  display: none;
}

header > .right-box > .lang-box > img {
  width: 22px;
}

header > .right-box > .lang-box {
  display: flex;
  align-items: center;
  border: solid 1px white;
  padding: 9px 16px;
  gap: 8px;
  border-radius: 20px;
}

.kr,
.en {
  font-size: 16px;
  cursor: pointer;
}

.mb-lang-span {
  display: none;
}

nav .sub-menu-con .sub-menu-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

nav .sub-menu-con .sub-menu-box a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

nav .sub-menu-con .sub-menu-box a span {
  color: #999999;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #191b1e;
  min-width: 1280px;
  width: 100%;
  padding: 40px 0px;
}

footer > .footer-con {
  box-sizing: border-box;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer > .footer-con > .box1 {
  line-height: 120%;
}

footer > .footer-con > .box1 > img {
  width: 210px;
  margin-bottom: 1%;
}

footer > .footer-con > .box1 > p {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

footer > .footer-con > .box2 > p {
  font-size: 14px;
  color: #fff;
  opacity: 0.25;
}

@media screen and (max-width: 1440px) {
  header > .menu-con {
    gap: 30px;
  }

  nav .sub-menu-con {
    gap: 30px;
  }

  header {
    padding: 0px 40px;
  }
}

@media screen and (max-width: 767px) {
  header {
    min-width: 100%;
    height: 70px;
    padding: 0px 20px;
    display: flex;
    top: 0;
    transition: top 0.2s ease-in-out;
    justify-content: space-between;
    align-items: center;
  }

  header > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    padding: 0;
  }
  header > a > img {
    width: 100%;
  }

  .box-width1,
  .box-width2,
  .box-width3,
  .box-width4,
  .box-width5 {
    width: 100%;
  }

  .nav-up {
    top: -70px;
  }

  header > .menu-con {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    height: 99vh;
    border: none;
    overflow-y: scroll;
    padding-bottom: 170px;
  }

  header > .menu-con > .menu-box > .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  header > .menu-con > .menu-box > .title-box > a {
    font-size: 24px;
    font-weight: 600;
    color: black;
  }

  header > .menu-con > .menu-box > .title-box > img {
    display: block;
    width: 20px;
  }

  header > .right-box {
    padding: 0;
    gap: 20px;
  }

  header > .right-box > img {
    display: block;
  }

  header > .right-box > .lang-box {
    padding: 5px 10px;
    gap: 6px;
  }

  header > .right-box > .lang-box > img {
    width: 18px;
  }

  header > .right-box > .lang-box > span {
    font-size: 14px;
    font-weight: 500;
  }
  .en,
  .hr,
  .kr {
    display: none;
  }

  .mb-lang-span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    width: 15px;
  }

  nav {
    display: none;
  }

  .menu-box .sub-menu-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 40px;
    gap: 30px;
  }

  .menu-box .sub-menu-box > a {
    color: black;
  }

  footer {
    box-sizing: border-box;
    padding: 35px 24px;
    min-width: 100%;
  }

  footer > .footer-con {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5%;
  }

  footer > .footer-con > .box2 {
    margin-top: 2%;
  }
}
