.bg1 {
  display: block;
  background-image: url("../images/bg/bg1.png");
}
.bg2 {
  display: none;
  background-image: url("../images/bg/bg2.png");
}
.bg3 {
  display: none;
  background-image: url("../images/bg/bg3.png");
}
.bg4 {
  display: none;
  background-image: url("../images/bg/bg4.png");
}
.bg5 {
  display: none;
  background-image: url("../images/bg/bg5.png");
}

.slide-con {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide-con > .slides > .slide {
  position: absolute;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slide-con > .slides > .slide > .text-box {
  position: absolute;
  top: 30%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 1280px;
}

.slide-con > .slides > .slide > .text-box > .title {
  font-size: 54px;
  font-weight: 800;
  width: 55%;
}

.slide-con > .slides > .slide > .text-box > .sub {
  font-size: 20px;
  font-weight: 300;
  width: 45%;
}

.slide-con > .slide-bot-con {
  position: absolute;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1280px;
  width: 100%;
}

.slide-con > .slide-bot-con > .slide-bot-box {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 1280px;
}

.slide-con > .slide-bot-con > .slide-bot-box > .timer-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .page {
  font-size: 18px;
  font-weight: 600;
  width: 20px;
  color: rgba(255, 255, 255, 0.25);
}

.slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .cur {
  color: #fff;
}

.slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .timer-line {
  width: 250px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.25);
}

.slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .timer-line > .time {
  background-color: red;
  height: 3px;
}

.slide-con > .slide-bot-con > .slide-bot-box > .nav-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-con > .slide-bot-con > .slide-bot-box > .nav-box img {
  width: 12px;
  height: 20px;
  padding: 15px;
  cursor: pointer;
}

.content-con {
  padding: 140px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //////// */
/* content1 */
/* //////// */

.content1-con {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1280px;
  margin-bottom: 140px;
}

.content1-con > .title-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content1-con > .title-box > .title {
  font-size: 34px;
  font-weight: 800;
  width: 45%;
}

.content1-con > .title-box > .nav-box {
  display: flex;
  gap: 14px;
}

.content1-con > .title-box > .nav-box img {
  width: 10px;
  height: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.content1-con > .title-box > .nav-box > .disabled {
  cursor: auto;
  opacity: 0.5;
}

.content1-con > .hidden {
  width: 100%;
  overflow: hidden;
}

.content1-con > .hidden > .card-con {
  width: 150%;
  gap: 2%;
  display: flex;
  transition: 0.5s;
}

.content1-con > .hidden > .card-con > .card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 25%;
  border: 1px solid #ebebeb;
  justify-content: space-between;
}

.content1-con > .hidden > .card-con > .card > .img-box {
  display: flex;
  align-items: center;
  justify-content: end;
}

.content1-con > .hidden > .card-con > .card > .img-box > img {
  width: 235px;
  height: 165px;
  border-radius: 7px;
}

.content1-con > .hidden > .card-con > .card > .text-box {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.content1-con > .hidden > .card-con > .card > .text-box > .title {
  font-size: 20px;
  font-weight: 600;
}
.content1-con > .hidden > .card-con > .card > .text-box > .sub {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}
.content1-con > .hidden > .card-con > .card > .text-box > .more-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content1-con > .hidden > .card-con > .card > .text-box > .more-box span {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.content1-con > .hidden > .card-con > .card > .text-box > .more-box img {
  width: 15px;
  height: 12px;
  cursor: pointer;
}

/* //////// */
/* content2 */
/* //////// */

.content2-con {
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 140px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content2-con > .title-box > .title {
  font-size: 50px;
  font-weight: 800;
}

.content2-con > .title-box > .nav-box {
  display: flex;
  gap: 14px;
}

.content2-con > .title-box > .nav-box > .disabled {
  cursor: auto;
  opacity: 0.5;
}

.content2-con > .title-box > .nav-box img {
  width: 10px;
  height: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ebebeb;
  cursor: pointer;
}

.content2-con > .hidden {
  width: 100%;
  overflow: hidden;
}

.content2-con > .hidden > .card-con {
  width: 170%;
  gap: 2%;
  display: flex;
  transition: 0.5s;
}

.content2-con > .hidden > .card-con > .bot-btn {
  display: none;
}

.content2-con > .hidden > .card-con > .card {
  display: flex;
  flex-direction: column;
  width: 34%;
  justify-content: space-between;
  padding: 60px 50px;
  background-color: #f7f7f8;
  width: 100%;
  transition: 0.2s;
}
.content2-con > .hidden > .bot-btn > .circle {
  display: none;
}

.content2-con > .hidden > .card-con > .card > img {
  width: 100%;
  height: 50%;
}

.content2-con > .hidden > .card-con > .card > .text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.content2-con > .hidden > .card-con > .card > .text-box > .category {
  font-size: 18px;
  font-weight: 700;
  color: #f26933;
}

.content2-con > .hidden > .card-con > .card > .text-box > .title {
  font-size: 34px;
  font-weight: 600;
}

.content2-con > .hidden > .card-con > .card > .text-box > .sub {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}

/* //////// */
/* content3 */
/* //////// */
.content3-con {
  display: flex;
  width: 1280px;
  gap: 2%;
  margin-bottom: 70px;
}

.content3-con > img {
  width: 49%;
  cursor: pointer;
}

/* //////// */
/* content4 */
/* //////// */

.cont4-bg {
  background-image: url("../images/bg/content4_bg.png");
  background-size: 100% 100%;
  background-position: top;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.content4-con {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 1280px;
}

.content4-con > .title-box {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content4-con > .title-box > .title {
  font-size: 50px;
  font-weight: 800;
  color: #f26933;
}

.content4-con > .title-box > .nav-box {
  display: flex;
  gap: 14px;
}

.content4-con > .title-box > .nav-box > .disabled {
  cursor: auto;
  opacity: 0.5;
}

.content4-con > .title-box > .nav-box img {
  width: 10px;
  height: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
}

.content4-con > .hidden {
  width: 100%;
  overflow: hidden;
}

.content4-con > .hidden > .card-con {
  width: 150%;
  gap: 2%;
  display: flex;
  transition: 0.5s;
  padding-bottom: 30px;
  padding-left: 5px;
}

.content4-con > .hidden > .card-con > .card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #fff;
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.05);
  word-break: break-all;
}

.content4-con > .hidden > .card-con > .card > img {
  width: 100%;
}

.content4-con > .hidden > .card-con > .card > .text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

.content4-con > .hidden > .card-con > .card > .text-box > .title {
  font-size: 16px;
  font-weight: 700;
}

.content4-con > .hidden > .card-con > .card > .text-box > .sub {
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

/* //////// */
/* content5 */
/* //////// */
.cont5-bg {
  background-image: url("../images/bg/content5_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.content5-con {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 2%;
  width: 1280px;
  padding: 140px 0px;
}

.cont5-bg > .lottie-con {
  position: absolute;
  left: 36%;
  top: 25%;
}

.content5-con > .text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content5-con > .text-box > .title {
  font-size: 50px;
  font-weight: 800;
}

.content5-con > .text-box > .detail-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  border-left: 2px solid #111;
}

.content5-con > .text-box > .detail-box > .title {
  font-size: 24px;
  font-weight: 700;
}

.content5-con > .text-box > .detail-box > .detail {
  display: flex;
  width: 100%;
}

.content5-con > .text-box > .detail-box > .detail > .name {
  width: 20%;
  font-size: 18px;
  font-weight: 600;
}

.content5-con > .text-box > .detail-box > .detail > .content {
  width: 80%;
  font-size: 18px;
  font-weight: 500;
}

.content5-con > .map-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

/* //////// */
/* content6 */
/* //////// */
.cont6-bg {
  background-color: #f7f7f8;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 54px 0px;
}

.content6-con {
  width: 1280px;
}

.content6-con > .hidden {
  width: 100%;
  display: flex;
  gap: 20px;
}

.content6-con > .hidden > .img-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: white;
  padding: 1% 2%;
  transition: 0.5s;
}

.content6-con > .hidden > .img-box > img {
  width: 100%;
}

/* //////// */
/* content7 */
/* //////// */
.cont7-bg {
  background-image: url("../images/bg/content7_bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.content7-con {
  padding: 160px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.content7-con > .text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  justify-content: center;
  align-items: center;
}

.content7-con > .text-box > .title {
  font-size: 50px;
  font-weight: 700;
}

.content7-con > .text-box > .sub {
  font-size: 20px;
  font-weight: 500;
}

.content7-con > button {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #f26933;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.content7-con > button > img {
  margin-left: 20px;
  width: 15%;
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) {
  .content2-con > .hidden > .card-con > .card:hover {
    background-color: #202936;
    color: white;
  }
}

/* /////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////// */

@media screen and (max-width: 767px) {
  .bg1 {
    display: block;
    background-image: url("../images/bg/mb_bg1.png");
  }
  .bg2 {
    display: none;
    background-image: url("../images/bg/mb_bg2.png");
  }
  .bg3 {
    display: none;
    background-image: url("../images/bg/mb_bg3.png");
  }
  .bg4 {
    display: none;
    background-image: url("../images/bg/mb_bg4.png");
  }
  .bg5 {
    display: none;
    background-image: url("../images/bg/mb_bg5.png");
  }

  .slide-con > .slides > .slide > .text-box {
    position: absolute;
    top: 20%;
    left: 0;
    /* transform: translate(0%, -50%); */
    padding: 0% 24px;
    gap: 20px;
    width: 100%;
  }

  .slide-con > .slides > .slide > .text-box > .title {
    margin-top: 0%;
    font-size: 28px;
    line-height: 130%;
    width: 100%;
  }

  .slide-con > .slides > .slide > .text-box > .sub {
    font-size: 16px;
    width: 100%;
    line-height: 130%;
    opacity: 0.5;
  }

  .slide-con > .slide-bot-con {
    min-width: 100%;
  }

  .slide-con > .slide-bot-con > .slide-bot-box {
    position: absolute;
    bottom: 5%;
    left: 0%;
    padding: 0% 3%;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .slide-con > .slide-bot-con > .slide-bot-box > .timer-box {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .page {
    font-size: 14px;
    width: 15px;
  }

  .slide-con > .slide-bot-con > .slide-bot-box > .timer-box > .timer-line {
    width: 100px;
  }

  .slide-con > .slide-bot-con > .slide-bot-box > .nav-box {
    gap: 10px;
  }

  .slide-con > .slide-bot-con > .slide-bot-box > .nav-box img {
    width: 8px;
    height: 15px;
    padding: 10px;
  }

  .content-con {
    padding: 0px;
  }

  /* //////// */
  /* content1 */
  /* //////// */

  .content1-con {
    gap: 20px;
    padding: 30px 0px 15px;
    width: 100%;
    margin-bottom: 0px;
  }

  .content1-con > .title-box > .title {
    padding: 0px 20px;
    font-size: 20px;
    width: 80%;
  }

  .content1-con > .title-box > .nav-box {
    display: none;
  }

  .content1-con > .hidden > .card-con {
    width: 540%;
    gap: 0.5%;
    margin-left: 20px;
  }

  .content1-con > .hidden > .card-con > .card {
    width: 90%;
  }

  .content1-con > .hidden > .card-con > .card > .text-box {
    padding: 20px;
  }
  .content1-con > .hidden > .card-con > .card > .text-box > .title {
    font-size: 18px;
  }
  .content1-con > .hidden > .card-con > .card > .text-box > .sub {
    font-size: 14px;
  }

  .content1-con > .hidden > .card-con > .card > .text-box > .more-box span {
    font-size: 14px;
  }

  /* //////// */
  /* content2 */
  /* //////// */
  .content2-con {
    padding: 15px 0px 0px;
    width: 100%;
    margin-bottom: 0px;
  }

  .content2-con > .title-box {
    display: none;
  }

  .content2-con > .hidden > .card-con {
    width: 500%;
    gap: 0%;
  }

  .content2-con > .hidden {
    position: relative;
  }

  .content2-con > .hidden > .bot-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: 0.5s;
  }

  .content2-con > .hidden > .bot-btn > .circle {
    display: block;
    width: 15px;
    height: 15px;
    border: solid 1px white;
    border-radius: 15px;
  }

  .content2-con > .hidden > .card-con > .card {
    padding: 30px 20px 70px;
  }

  .content2-con > .hidden > .card-con > .card > img {
    width: 100%;
    height: 100%;
  }

  .content2-con > .hidden > .card-con > .card > .text-box > .category {
    font-size: 20px;
  }

  .content2-con > .hidden > .card-con > .card > .text-box > .title {
    font-size: 30px;
  }

  .content2-con > .hidden > .card-con > .card > .text-box > .sub {
    font-size: 14px;
  }

  /* //////// */
  /* content3 */
  /* //////// */
  .content3-con {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: 100%;
    gap: 10px;
    margin-bottom: 0px;
  }

  .content3-con > img {
    width: 100%;
    cursor: pointer;
  }

  /* //////// */
  /* content4 */
  /* //////// */
  .cont4-bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0px;
  }

  .content4-con {
    gap: 20px;
    padding: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .content4-con > .title-box > .title {
    padding: 0px 20px;
    font-size: 30px;
    width: 80%;
  }

  .content4-con > .title-box > .nav-box {
    display: none;
  }

  .content4-con > .hidden > .card-con {
    width: 540%;
    gap: 0.5%;
    margin-left: 20px;
  }

  .content4-con > .hidden > .card-con > .card {
    width: 90%;
  }

  .content4-con > .hidden > .card-con > .card > .text-box {
    padding: 20px;
  }
  .content4-con > .hidden > .card-con > .card > .text-box > .title {
    font-size: 14px;
  }
  .content4-con > .hidden > .card-con > .card > .text-box > .sub {
    font-size: 14px;
  }

  /* //////// */
  /* content5 */
  /* //////// */
  .cont5-bg {
    background-image: none;
  }

  .cont5-bg > .lottie-con {
    display: none;
  }

  .content5-con {
    background-image: none;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .content5-con > .text-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content5-con > .text-box > .title {
    font-size: 30px;
    font-weight: 800;
  }

  .content5-con > .text-box > .detail-box {
    padding-left: 0px;
    border-left: none;
    padding-top: 20px;
    border-top: solid 2px black;
  }

  .content5-con > .text-box > .detail-box > .title {
    font-size: 24px;
    font-weight: 700;
  }

  .content5-con > .text-box > .detail-box > .detail {
    display: flex;
    width: 100%;
  }

  .content5-con > .text-box > .detail-box > .detail > .name {
    width: 25%;
    font-size: 16px;
    font-weight: 600;
  }

  .content5-con > .text-box > .detail-box > .detail > .content {
    width: 75%;
    font-size: 16px;
    font-weight: 500;
  }

  .content5-con > .map-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  /* //////// */
  /* content6 */
  /* //////// */
  .cont6-bg {
    padding: 20px;
  }

  .content6-con {
    padding: 0px;
    width: 100%;
    background-color: #f7f7f8;
    overflow: hidden;
  }

  .content6-con > .hidden {
    width: 300%;
    gap: 10px;
    display: flex;
    transition: 0.5s;
  }

  .content6-con > .hidden > .img-box {
    width: 50%;
    background-color: white;
  }

  .content6-con > .hidden > .img-box > img {
    width: 100%;
  }

  /* //////// */
  /* content7 */
  /* //////// */
  .content7-con {
    padding: 20% 0%;
    gap: 30px;
  }

  .content7-con > .text-box {
    gap: 20px;
    text-align: center;
    padding: 0px 20px;
  }

  .content7-con > .text-box > .title {
    font-size: 30px;
  }

  .content7-con > .text-box > .sub {
    font-size: 20px;
  }

  .content7-con > button {
    padding: 11px 20px;
    border-radius: 25px;
    font-size: 18px;
  }
}
